@font-face {
    font-family: 'Saiyan-Sans';
    src: url('/praticing/praticing-gettingEvent/assets/fonts/Saiyan-Sans.ttf') format('opentype');
}

@font-face {
    font-family: 'GROBOLD';
    src: url('/praticing/praticing-gettingEvent/assets/fonts/GROBOLD.ttf') format('opentype');
}

* {
    font-family: 'Saiyan-Sans';
    font-size: 2rem;
    color: orange;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    background-color: orangered;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 56, 192);
    width: 550px;
    height: 55%;
    border-radius: 16px;
    gap: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.input,
.btn {
    width: 50%;
    border-radius: 8px;
}

.input {
    font-family: 'GROBOLD';
}